
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <!--配置servlet的名称-->
    <servlet-name>demo1</servlet-name>
    <!--配置servlet类的全路径-->
    <servlet-class>com.fuyu.demo1</servlet-class>
    <!--启动时加载-->
    <load-on-startup>2</load-on-startup>

    <!--配置servlet的初始化参数 -->
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>abc</param-value>
    </init-param>

  </servlet>

  <!--配置servlet的映射-->
  <servlet-mapping>
    <!--配置servlet的名称-->
    <servlet-name>demo1</servlet-name>
    <!--配置访问路径-->
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>


</web-app>
